@import url("null.css");
.header {
   max-width: 1230px;
   background-color: cyan;
   line-height: 60px;
}
.wrapper__container {
    margin: 20px auto;
}
.header__menu {
   position: relative;
   top: 0;
   left: 150px;
}
.menu__item {
   font-size: 30px;
   line-height: 180%;
   text-transform: uppercase;
   font-weight: 700;
   position: relative;
   display: inline-block;
   min-width: 180px;
   text-align: center;
}
.menu__item:not(:last-child) {
   margin: 0 40px 0 0;
}
.menu__item::after {
   content: "";
   display: inline-block;
   width: 170px;
   height: 3px;
   background-color: violet;
   position: absolute;
   top: 50px;
   left: 10px;
}
.menu__item:hover {
   font-size: 36px;
   text-shadow: 5px 0px 10px rgb(246, 174, 174);
}
.section-1 {
   width: 1230px;
}
.main__container {
   margin: 0 auto 30px;
}
.section-1__titles {
   position: absolute;   
   font-weight: 900;
   top: 160px;
   z-index: 10;
   width: 35%;
   margin: 0 0 0 20px;
   text-shadow: 5px 10px 20px whitesmoke;
}
.section-1__title {
   font-size: 40px;
   line-height: 130%;   
   text-transform: capitalize;   
}
.section-1__subtitle {
   font-size: 25px;
   line-height: 150%;
}
.section-1__image {
   opacity: 0.8;
   width: 50%;
   position: relative;
}
.section-1__buttons {
   position: absolute;
   top: 420px;
   left: 100px
}
.section-1__button {
   width: 130px;
   height: 40px;
   background-color: rgb(14, 156, 121);
   color: bisque;
   text-transform: uppercase;
   font-weight: 900;
   border: 1px solid darkmagenta;
   border-radius: 6px;
}
.section-1__button_white {
   background-color: #fff;
   border-color: rgb(14, 156, 121);
   color: rgb(14, 156, 121);
}
.section-1__button:hover {
   transform: scale(1.2);
   cursor: pointer;
}
.section-1__button:not(:last-child) {
   margin: 0 20px 0 0;
}
.section-2 {
   position: relative;
   width: 500px;
   min-height: 400px;
   background: url("../img/forest.jpg") 0 0 / 100% auto no-repeat;
}
.section-2::after {
   content: "";
   display: inline-block;
   width: 100px;
   height: 40px;
   background-color: black;
   position: absolute;
   top: -25px;
   right: -20px;
   z-index: -1;
   transform-origin: top right;
   transform: rotate(330deg);
}
.section-2__titles {
   color: #fff;
   text-shadow: 2px 10px 10px #000;
   padding: 100px 10px 0 0;
   text-align: right;
}
.section-2__title {
   font-size: 30px;
   font-style: italic;
   margin: 0 0 10px 0;
}
.section-2__subtitle {
   font-size: 20px;
   letter-spacing: 2px;
}
.section-2__buttons {
   display: block;
   width: 330px;
   margin: 30px auto 0;
}
.section-2__button {
   width: 150px;
   height: 50px;
   font-size: 20px;
   font-weight: 700;
   background-color: rgb(16, 95, 16);
   color: rgb(224, 187, 139);
   border-radius: 10px;
   border: 2px solid rgb(61, 12, 12);
}
.section-2__button_white {
   background-color: rgb(224, 187, 139);
   color: rgb(16, 95, 16);
}
.section-2__button:first-child {
   margin: 0 20px 0 0;
}
.section-2__button:hover {
   border: none;
   font-size: 24px;   
   cursor: pointer;
}
.section-3 {
   width: 1230px;
   background-color: rgb(114, 163, 114);
}
.main__container {
   padding: 30px;
}
.items__item {
   display: inline-block;
   width: 30%;
   background-color: #fff;   
}
.items__item:first-child {
   position: relative;
   top: -30px;
   left: -30px;
}
.items__item:not(:last-child) {
   margin: 0 20px 0 0;
}
.items__container {
   padding: 0 20px 20px;
}
.items__image {
   width: 100%;
   min-height: 265px;
   margin: 0 0 10px 0 ;
}
.items__text {
   display: inline-block;
   font-size: 16px;
   font-style: italic;
   color: blueviolet;
   margin: 0 0 10px 0;
}
.items__link {
   color: blue;
}
.items__item_text {
   background-color: transparent;
   padding: 20px 10px;
}
.items__title {
   font-size: 40px;
   font-weight: 900;
}
.section-4 {
   max-width: 400px;      
   position: relative;
}
.section-4__photo {
   width: 100%;
}
.section-4__title {
   position: absolute;
   bottom: 50px;
   right: 40px;
}
.name {
   color: bisque;
   text-align: right;
}
.name__title {
   font-size: 30px;
   font-weight: 900;
   font-style: italic;
}
.name__sub-title {
   font-size: 20px;
   font-weight: 400;
}
.volume {
   position: relative;
}
.volume__button {
   width: 100px;
   height: 40px;
   cursor: pointer;
}
.volume__body {
   position: absolute;
   top: -70px;
   left: 0;
   visibility: hidden;
}
.volume__change {
   transform: rotate(90deg);
}
.volume__button:hover ~ .volume__body,
.volume__body:hover {
   visibility: visible;
}
.section-6 {
   max-width: 340px;
}
.section-6__image {
   border-radius: 10px;
}
.card {
   position: relative;
   bottom: 170px;
   width: 340px;
   color: rgb(28, 7, 44);
   background-color: rgb(188, 86, 86);
   opacity: 0.6;
   padding: 10px 5px;   
   border-radius: 0 0 10px 10px;
}
.card__name {
   font-weight: 700;
   font-size: 20px;
   margin-bottom: 20px;
}
.card__text {
   margin-bottom: 20px;
}
.card__book {
   display: block;
   width: 150px;
   height: 50px;
   background-color: rgb(231, 162, 162);
   font-size: 20px;
   font-weight: 700;
   text-align: center;
   padding: 10px 0 0 0;
}
.section-7 {
   background-color: rgb(99, 127, 168);
   border: 2px solid rgb(39, 52, 87);
   width: 90%;
   min-height: 200px;
   position: relative;
}
.section-body__text {
   display: inline-block;
   font-size: 40px;
   font-weight: 700;
   line-height: 150%;
   color: rgb(9, 87, 14);
   transform: translate(40px, 0);
}
.section-body::before {
   content: "";
   display: inline-block;
   width: 30px;
   height: 120px;
   background-color: rgb(53, 174, 128);
   position: absolute;
   top: 0;
   left: 15px;
}
.section-8 {
   background-color: rgb(222, 171, 171);
   width: 90%;
}
.article {
   margin: 0 auto;
   width: 800px;
   min-height: 300px;
   background-color: rgb(232, 103, 103);
   padding: 20px;
}
.article__title {
   font-size: 40px;
   font-style: italic;
}
.article__text {
   font-size: 35px;
}
.section-8__image {
   width: 180px;
}
.section-8__image_1 {
   transform: translate(750px, -320px);
}
.section-8__image_2 {
   transform: translate(640px, -100px);
}